html {
    box-sizing: border-box;
    font-size: 0.625rem;
}

body {
    margin: 20px 250px;
    font-size: 1.6rem;
    font-family: Verdana, sans-serif
}

input[name="age"] {width: 7.5rem;}      

.specialisation {
    height: 14rem;
    width: 18rem;
    font-size: 1.3rem;
}

textarea {
    width: 37.5rem;
    height: 16rem;
}

#amount {
    display: inline-block;
    margin-left: 2rem;
    font-size: 1.6rem;
}