html {
    box-sizing: border-box;
    font-size: 0.625rem;
}

table {
    font-size: 1.6rem;
    font-family:  sans-serif;            
    margin: 5rem 10rem;         
    border-collapse: collapse;            
    color: #848388; 
    background-color: #f2f6fa;           
}

table, th, td {border:2px solid #ffffff;}               

th {            
    font-size: 1.2rem;                      
    text-align: center; 
    text-transform: uppercase;   
    padding: 0.6rem 0.1rem;            
    background-color: #e3eaf3;          
}

td {padding: 1.3rem 1rem;}

tr:nth-child(even) {background-color: #e3eaf3;}

tr:hover {background-color: #d8dee5;}

.name {
    width: 14rem;
    text-transform: capitalize;            
}

.phone{width: 15rem;}

.mail {width: 22rem;}

.amount {width: 13rem;}