main > nav {   
    height: 100%;
    width: 20rem;
    color: #78829d;
    background-color: #1f2637;
}

#first-block, #second-block,
#third-block {    
    border-top: 1px solid #31394c;
    border-bottom: 6px solid #19202e;
}

/******** Side bar first-block ***********/

#first-block {height: 12rem;}

#first-block button {
    width: 16rem;
    height: 4.4rem;
    margin:3.5rem 2rem;
    color: #ffffff;
    font-weight: bold;
    outline: none;
    border-radius: 0.4rem;
    border: 1px solid #f2795a;    
    background-color: #f2795a;
}

#first-block button:hover {   
    border: 1px solid #f2795a;    
    background-color: #eb6a4a;
}

#first-block button:active {   
    border: 1px solid #f2795a;    
    background-color: #d44622;
}

#close-form {
    position: absolute;
    z-index: 1;
}

#form-container {
    display: none;
    position: absolute;
    z-index: 1;
    left: Calc((100vw - 45rem)/2);
}

#butt-close-form {
    margin: 0 0 2rem 42rem;
    width:3rem;
    font-size: 2rem;
    cursor: pointer;
    box-shadow: 1.2rem 1.2rem 1.2rem 0 rgba(90, 97, 110, 0.6);
    outline: none;
}

#form {    
    width: 45rem;    
    padding: 2rem;  
    background-color: #1f2637;
    color:#78829d;
    border-radius: 0.5rem;
    border:1px solid rgb(59, 59, 88);
    box-shadow: 1.2rem 1.2rem 1.2rem 0 rgba(90, 97, 110, 0.6);
}

fieldset {
    padding: 3rem; 
    border-radius: 0.5rem;
    border-color: #9bd7fc;
    box-shadow: 0 0 0.4rem 0.2rem rgba(140, 215, 250, 0.8);   
}

#labels-inputs-container {
    display: flex; 
    justify-content: space-between;    
}

.labels, .input-fields {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 20rem;   
}

#categories-container{
    display: flex;
    justify-content: center;
}

.categories-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:0.5rem 1rem;
    height: 6rem;    
}

.buttons-conteiner{
    display: flex;
    justify-content: space-evenly;       
}

button {
    width: 10rem;
    height: 3rem;
    border-radius: 0.5rem;
    border:1px solid #ffffff;
    background-color:  rgba(140, 215, 250, 1);
    outline: none;
}

button:hover {
    background-color:  rgb(23, 177, 248);   
    cursor: pointer;  
    outline: none;
}

button:active {
    background-color:  rgb(4, 142, 206);   
    cursor: pointer;  
    outline: none;
}

/********  Side bar second-block  ***********/

.second-block {height: 24.5rem;}

.sidebar-links {
    display: block;
    height: 4rem;
    padding: 1rem 2rem; 
    color: #78829d;
    text-decoration: none;  
    cursor: pointer; 
}

.sidebar-links:hover {
    color: #ffffff;
    background-color: #15a4fa;
}

.sidebar-link-icon {
    font-size: 1.6rem;
    margin-right: 1rem;
}

/******** Side bar third-block  ***********/

#third-block {height: 19rem;}

#third-block ul {
    height: 15rem; 
    list-style: none;
    padding-left: 0;       
}

#third-block li {
    display: flex;
    flex-direction: row;
    height: 3.75rem; 
    padding-left: 2rem;     
}

#third-block li:hover i, 
#third-block li:hover {
    color:#ffffff;
}

#third-block li div {line-height: 3.3rem;}

#third-block li i {    
    text-align: center; 
    line-height: 3.3rem;   
    width: 1.6rem; 
    margin-right: 1rem;   
    font-size: 0.9rem;  
}

li:nth-of-type(1) i {color:#e64c66;}

li:nth-of-type(2) i {color:#ffab00;}

li:nth-of-type(3) i {color:#00bfdd;}

li:nth-of-type(4) i {color:#7874cf;}    

/******** Side bar fourth-block ***********/

#fourth-block {  
    height: 100%; 
    padding-top: 4rem;
    color: #4f5a6f;  
    border-top: 1px solid #31394c; 
}

.history-event {
    display: flex;    
    height: 10rem;
    margin-left: 2rem;    
}

.history-event i,
.history-container {height: 10rem;}

.history-event i {margin-right: 1rem;} 

.event-info {
    height: 5rem;
    width: 13.4rem;    
    font-size: 1.1rem;
    line-height: 1.8rem;
}

.time-ago {
    font-size: 1.1rem;
    padding-top: 1.4rem;    
}

.event-info span {color: #78829d;}