
#parent {
    font-size: 30px;
}

#b-1 {
    font-family: 'Sacramento', cursive;
    background-color: #f2808e;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: underline pink wavy;
    text-transform: uppercase;
    text-indent: 60px;
    text-align: justify;
    line-height: 2;

}

#b-2 {            
    color: white;
    text-indent: 20px;
    text-align: right;
    background-image: url(https://i.pinimg.com/564x/3b/70/ab/3b70abb6ecb04dd34967bc10e92cbac3.jpg?b=t);
    background-size: cover;
}

#b-3 {
    font-family:  "Comic Sans MS", cursive, sans-serif;
    border: 3px solid transparent;
    background-color: rgba(75, 57, 241, 0.2);
    border-radius: 20px;
    text-align: center;
}

#b-4 {
    border-style: double;
    background-color: plum;
    font-size: 0.4em;
    font-variant: small-caps;
    line-height: 2;
}

#b-5 {
    font-family: "Courier New", Courier, monospace;
    border-bottom: double;
    font-size: 40%;
    letter-spacing: 5px;
}

#b-6 {
    
    font-family: 'Gloria Hallelujah', cursive;
    border-style: ridge;
    font-size: 120%;
    text-decoration: line-through rgb(231, 19, 54) solid;
}

#b-7 {
    font-size: 1.5rem;
    font-family: 'Zeyada', cursive;
    border-top: 2px solid rgb(180, 75, 14);
    border-bottom: 2px solid rgb(180, 75, 14);
    background-color: rgb(250, 188, 152);
    text-transform: capitalize;
    word-spacing: 10px;
}